@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
body {
  margin: 0px;
  font-family: Nunito;
}

body .container {
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-size: 50px;
  font-family: Teko;
  color: 17, 17, 17;
}

/*NAVIGATION BAR*/
.menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menu p {
  color: #dddddd;
  margin-right: 110px;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 30px;
}

.menu .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
}

.menu .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menu .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menu .menu__search .menu__button-bars {
  display: none;
}

/*BANNER*/
.banner {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15%;
  height: auto;
}

.banner .banner__text {
  margin-left: 50%;
  color: #f4f4f4;
}

.banner .banner__text .text__title {
  font-size: 50px;
  font-family: Teko;
  margin-bottom: 0px;
}

.banner .banner__text .text__title .text__corre {
  color: #ff740f;
}

.banner .banner__text .text__paragraph {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 40px;
}

.banner .banner__text .text__button {
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: #f4f4f4;
  border-radius: 30px;
  border-color: #ff740f;
  font-family: Nunito;
}

/*ABOUT US*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.about .about__title {
  font-size: 50px;
  font-family: Teko;
  color: 17, 17, 17;
}

.about img {
  width: 100%;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .about__info .information__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__info .information__block .content__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about__info .information__block .content__text h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

.about .about__info .information__block .content__text p {
  font-size: 18px;
  font-weight: 300;
}

.about .about__info .information__block .content__text--whitechars {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.about .about__info .information__block .content__text--whitechars h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

.about .about__info .information__block .content__text--whitechars p {
  font-size: 18px;
  font-weight: 300;
}

/*INTERACTION*/
.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f7f9;
  padding: 20px;
}

.interaction .interaction__title {
  margin-left: 50px;
}

.interaction .interaction__img {
  margin: 100px;
}

.interaction .interaction__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.interaction .interaction__options input {
  margin-bottom: 30px;
}

.interaction .interaction__options button {
  font-family: Nunito;
  margin-top: 10px;
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
}

/*ADVERTISEMENT*/
.advertisement {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
  color: white;
}

.advertisement img {
  width: 100%;
  height: 300px;
}

.advertisement .advertisement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-left: 70px;
  width: 60%;
}

.advertisement .advertisement__info .title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.advertisement .advertisement__info .title__text .title__number {
  margin: 0px;
  height: 90px;
  font-size: 120px;
  color: #ff740f;
}

.advertisement .advertisement__info .title__text .title__letter {
  margin: 0px;
  position: absolute;
  top: 60px;
  left: 158px;
}

.advertisement .advertisement__info p {
  margin-top: 50px;
  font-weight: 100;
}

.advertisement .advertisement__info button {
  background-color: #ff740f;
  height: 40px;
  width: 100px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
  margin-top: 10px;
  font-family: Nunito;
}

/*NEWSLETTER*/
.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 200;
  background-size: 100%;
  height: 280px;
  color: white;
}

.newsletter .newsletter__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.newsletter .newsletter__titles h3 {
  margin: 0px;
  line-height: 1;
  font-size: 40px;
}

.newsletter .newsletter__titles p {
  font-weight: 300;
}

.newsletter .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newsletter .newsletter__form ::-webkit-input-placeholder {
  color: white;
}

.newsletter .newsletter__form :-ms-input-placeholder {
  color: white;
}

.newsletter .newsletter__form ::-ms-input-placeholder {
  color: white;
}

.newsletter .newsletter__form ::placeholder {
  color: white;
}

.newsletter .newsletter__form .newsletter__input {
  border-radius: 30px;
  height: 35px;
  border-color: white;
  border-style: solid;
  width: 300px;
  background: transparent;
  font-family: Nunito;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
}

.newsletter .newsletter__form button {
  font-family: Nunito;
  background-color: white;
  height: 40px;
  width: 310px;
  font-size: 17px;
  font-weight: 500;
  color: #df6813;
  border-radius: 30px;
  border-color: white;
  margin-top: 25px;
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  padding: 30px;
}

.footer p {
  font-weight: 100;
  margin-left: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
  color: white;
  text-align: center;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__logos {
  margin-left: 150px;
}

@media screen and (max-width: 411px) {
  .container {
    width: 100%;
    /*MENU*/
    /*BANNER*/
    /*ABOUT*/
    /*INTERACTION*/
    /*ADVERTISEMENT*/
    /*NEWSLETTER*/
    /*FOOTER*/
  }
  .container .menu {
    width: 100%;
  }
  .container .menu p {
    display: none;
  }
  .container .menu .menu__search .menu__input {
    display: none;
  }
  .container .menu .menu__search .menu__button-bars {
    display: inline;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
  }
  .container .banner {
    background-size: 300%;
    padding: 15%;
    height: auto;
  }
  .container .banner .banner__text {
    margin-left: 0%;
    color: #f4f4f4;
  }
  .container .about .about__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container .interaction {
    display: none;
  }
  .container .advertisement {
    display: none;
  }
  .container .newsletter {
    display: none;
  }
  .container .footer {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */