@import url("https://use.typekit.net/sop3ack.css");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

body {
    margin:0px;
    font-family: Nunito;
}


/*NAVIGATION BAR*/
.menu {
    background-color: rgba(226, 226, 226, 0.8);
    position:fixed;
    width:100%;
    height: 75px;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin:0 auto;

    p{
        margin-left: 120px;
        font-size: 17px;
        font-weight: 300;
    }

    .menu__logo {
        margin-left: 50px;
    }
    
    .menu__search {
        position: absolute;
        right: 50px;

        .menu__input {
            border-radius: 30px;
            color: rgb(244, 244, 244);
            border-style: none;
        
            height: 25px;
            width: 250px;
        
            font-size: 15px;
            font-weight: 300;
        }
        
        .menu__button {
            margin-left: 7px;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            background-color: white;
        }
    }
}

/*BANNER*/
.banner {
    display: flex;
    flex-direction:column;
    align-items: flex-end;

    .banner__photo {
        width:100%;
    }

    .banner__text {
        position: absolute;
        top:220px;
        right: 300px;
        color: rgb(244, 244, 244);

        .banner__title{
            font-size: 50px;
            font-family: Teko;
            margin-bottom: 0px;
    
            .banner__corre{
                color: rgb(255, 116, 15);
            }
        }
    
        .banner__paragraph {
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 40px;
        }

        .banner__button {
            background-color: rgb(255, 116, 15);
            height: 40px;
            width: 200px;
            font-size: 17px;
            font-weight: 200;
            color: rgb(244, 244, 244);
            border-radius: 30px;
            border-color:  rgb(255, 116, 15);
        }
    }
}

/*ABOUT US*/
.about  {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:0 auto;
    width: 100%;

    .about__title {
        font-size: 50px;
        font-family: Teko;
        color: (17,17,17);   
    }

    .about__info{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        text-align: center;

        .about__block {
            position: relative;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
        }

        .about__text {
            position: absolute;
            display: flex;
            flex-direction:column;
            align-items: center;

            h1 {
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 0px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }
        }

        .about__text--whitechars{
            position: absolute;
            display: flex;
            flex-direction:column;
            align-items: center;
            color: white;

            h1 {
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 0px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }

    img {
       width: 100%;
    }
}


