@import url("https://use.typekit.net/sop3ack.css");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

body {
    margin:0px;
    font-family: Nunito;

    .container {
        width: 100%;
        margin:0 auto;
    }
}

h3 {
    font-size: 50px;
    font-family: Teko;
    color: (17,17,17); 
}


////////////////////NAVIGATION BAR////////////////////
.menu {
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    width:100%;
    height: 65px;

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
    margin:0 auto;
    z-index: 100;

    p{
        color: rgb(221, 221, 221);
        margin-right: 110px;
        font-size: 15px;
        font-weight: 300;
    }

    .menu__logo {
        width: 55px;
        height: 20px;
        position: absolute;
        left: 30px;
    }
    
    .menu__search {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 15px;

        .menu__input {
            border-radius: 30px;
            color: rgb(244, 244, 244);
            border-style: none;
        
            height: 23px;
            width: 250px;
        
            font-size: 13px;
            font-weight: 300;
        }
        
        .menu__button {
            margin-left: 5px;
            background-color: rgba(0, 0, 0, 0.0);
            border: rgba(0, 0, 0, 0.0);
        }

        .menu__button-bars {
            display: none;
        }
    }
}

////////////////////BANNER////////////////////
.banner {
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15%;
    height: auto;

    .banner__text {
        margin-left: 50%;
        color: rgb(244, 244, 244);

        .text__title{
            font-size: 50px;
            font-family: Teko;
            margin-bottom: 0px;
    
            .text__corre{
                color: rgb(255, 116, 15);
            }
        }
    
        .text__paragraph {
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 40px;
            max-width: 340px;
        }

        .text__button {
            background-color: rgb(255, 116, 15);
            height: 40px;
            width: 200px;
            font-size: 17px;
            font-weight: 500;
            color: rgb(244, 244, 244);
            border-radius: 30px;
            border-color:  rgb(255, 116, 15);
            font-family: Nunito;
        }
    }
}

////////////////////ABOUT US////////////////////
.about  {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:0 auto;
    width: 100%;

    img {
        width: 100%;
    }

    .about__info{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        text-align: center;

        .information__block {
            position: relative;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 25px;
                font-weight: 500;
                margin-bottom: 0px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }

            .content__text {
                position: absolute;
                margin: center;
            }
    
            .content__text--whitechars{
                position: absolute;
                color: white;
            }
        }
    }
}

////////////////////INTERACTION////////////////////
.interaction {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 247, 249);

    .interaction__title {
        margin-left: 50px;
    }

    .interaction__img {
        margin: 100px;
    }

    .interaction__options {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        padding: 0px;

        .list__views {
            display: flex;
            flex-direction:column;
            align-items: flex-start;
            justify-content: center;
        }

        input {
            margin-bottom: 30px;
        }

        button {
            font-family: Nunito;
            margin-top: 10px;
            background-color: rgb(255, 116, 15);
            height: 40px;
            width: 200px;
            font-size: 17px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            border-radius: 30px;
            border-color:  rgb(255, 116, 15);
        }
    }
}

////////////////////ADVERTISEMENT////////////////////
.advertisement {
    background-color:rgb(17,17,17);
    display: flex;
    flex-direction:row;
    margin: 0px;
    color:  rgb(255, 255, 255);

    img {
        width: 100%;
        height: 300px;
    }

    .advertisement__info {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
        position:relative;
        margin-left: 50px;
        width: 60%;

        .title__text {
            display: flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .title__number{
                margin: 0px;
                height: 90px;
                font-size: 120px;
                color: rgb(255, 116, 15);
            }
    
            .title__letter {
                margin: 0px;
                position: absolute;
                top:60px;
                left: 158px;
            }
        }

        p {
            width: 320px;
            margin-top: 50px;
            font-weight: 100;
        }

        button {
            background-color: rgb(255, 116, 15);
            height: 40px;
            width: 100px;
            font-size: 17px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            border-radius: 30px;
            border-color:  rgb(255, 116, 15);
            margin-top: 5px;
            font-family: Nunito;
        }
    }
}

////////////////////SPECIFICATIONS////////////////////
.specifications {
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: rgb(240,240,240);
    padding: 50px;

    h3 {
        margin: 0px;
    }

    p{
        margin: 0px;
    }

    .specifications__list {
        line-height: 2;
        margin-left: 120px;
    }
}

////////////////////GALLERY////////////////////
.gallery {
    display: flex;
    flex-direction:column;
    align-items: center;
    color: white;

    background-size: 100%;
    height: 735px;

    H3 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__current {
        height: 350px;
        margin-bottom: 20px;
    }

    &__options {
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__small {
        height: 150px;
        width: 200px;
        margin: 40px;
    }

    /*&__small:hover {
        transform: scale(1.2);
    }*/
} 

////////////////////NEWSLETTER////////////////////
.newsletter {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
    background-size: 100%;
    background-position-y: -700px ;
    height: 280px;
    color: rgb(255, 255, 255);

    .newsletter__titles {
        display: flex;
        flex-direction:column;
        margin-right: 100px;

        h3 {
            margin: 0px;
            line-height: 1;
            font-size: 40px;
        }

        p{
            font-weight: 300;
        }
    }

    .newsletter__form{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;

        ::placeholder {
            color: white;
        }
    
        .newsletter__input {
            border-radius: 30px;
            height: 35px;
            border-color:  rgb(255, 255, 255);
            border-style: solid;
            width: 300px;
            background: transparent;
        
            font-family: Nunito;
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            margin-right: 10px;
        }
    
        button {
            font-family: Nunito;
            background-color: rgb(255, 255, 255);
            height: 40px;
            width: 310px;
            font-size: 17px;
            font-weight: 500;
            color: rgb(223, 104, 19);
            border-radius: 30px;
            border-color:  rgb(255, 255, 255);
            margin-top: 25px;
        }
    }
}

////////////////////FOOTER////////////////////
.footer {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color: rgb(17,17,17);
    padding: 30px;

    p {
        font-weight: 100;
        margin-left: 150px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 2;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .footer__menu {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer__logos {
        margin-left: 150px;
    }
}


////////////////////RESPONSIVE////////////////////
@media screen and (max-width: 650px) {
    .container {
        width:100%;

        h3 {
            font-size: 42px;
        }

        ////////////////////MENU////////////////////
        .menu {
            width: 100%;

            .menu__logo {
                width: 42px;
                height: 15px;
                position: absolute;
                left: 30px;
            }

            p {
                display: none;
            }
             
            .menu__input {
                display: none;
            }
                
            .menu__button-bars {
                display: inline;
                margin-left: 10px;
                background-color: rgba(0, 0, 0, 0.0);
                border: rgba(0, 0, 0, 0.0);
            }
        }

        ////////////////////BANNER////////////////////
        .banner {
            background-size: 300%;
            background-position-x: -250px;
            height: 540px;

            .banner__text {
                margin-left: 25%;

                .text__title{
                    font-size: 43px;
                    margin-top: 170px;
                    width: 250px;
                    line-height: 1.1;
                }
            
                .text__paragraph {
                    font-size: 18px;
                    margin-bottom: 25px;
                    width: 220px;
                }
            }
            
        }

        ////////////////////ABOUT////////////////////
        .about  {
            .about__info{
                flex-direction:column;
            }
        }

        ////////////////////INTERACTION////////////////////
        .interaction {
            flex-direction: column;

            .interaction__title {
                margin-left: 0px;
                text-align: center;
            }

            .interaction__img {
                width: 350px;
                margin: 0px 0px 25px 0px;
            }

            .interaction__options {
                align-items: flex-start;

                .list__views {
                    margin: 0px;
                }

                button {
                    margin-bottom: 40px;
                    margin-top: 5px;
                }
            }
        }

        ////////////////////ADVERTISEMENT////////////////////
        .advertisement {
            flex-direction:column;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
            }

            .advertisement__info {
                align-items: center;
                margin-left: 0px;
        
                .title__text {
        
                    .title__number{
                        font-size: 90px;
                    }
            
                    .title__letter {
                        font-size: 35px;
                        top:85px;
                        left: 45px;
                    }
                }

                p {
                    margin-top: 30px;
                    width: 300px;
                    text-align: center;
                }

                button {
                    margin-bottom: 20px;
                }
            }
        }

        ////////////////////SPECIFICATIONS////////////////////
        .specifications {
            flex-direction:column;
            justify-content: center;

            .specifications__titles {
                text-align: center;
            }

            .specifications__list {
                margin-left: 0px;
            }
        }


        ////////////////////NEWSLETTER////////////////////
        .newsletter {
            flex-direction: column;
            height: 340px;
            background-position-y: 0px;

            .newsletter__titles {
                align-items: center;
                justify-content: center;
                margin-right: 0px;

                h3 { 
                    font-size: 35px;
                    text-align: center;
                }

                p {
                    margin-top: 10px;
                    margin-bottom: 30px;
                }
            }

            .newsletter__form{
                button {
                    margin-top: 15px;
                }
            }
        }

        ////////////////////FOOTER////////////////////
        .footer {
            flex-direction: column;

            p{
                margin: 15px;
                margin-bottom: 40px;
            }

            .footer__menu {
                flex-direction:row;
                align-items: center;
            }

            .footer__logos {
                margin-left: 0px;
            }
        }

        ////////////////////GALLERY////////////////////
        .gallery {
            height: 480px;

            &__current {
                height: 250px;
                margin-bottom: 20px;
            }
        
            &__options {
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

            &__small {
                height: 50px;
                width: 65px;
                margin: 5px;
            }
        }
    }
}