@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
body {
  margin: 0px;
  font-family: Nunito;
}

body .container {
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-size: 50px;
  font-family: Teko;
  color: 17, 17, 17;
}

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menu p {
  color: #dddddd;
  margin-right: 110px;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 30px;
}

.menu .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 15px;
}

.menu .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menu .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menu .menu__search .menu__button-bars {
  display: none;
}

.banner {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15%;
  height: auto;
}

.banner .banner__text {
  margin-left: 50%;
  color: #f4f4f4;
}

.banner .banner__text .text__title {
  font-size: 50px;
  font-family: Teko;
  margin-bottom: 0px;
}

.banner .banner__text .text__title .text__corre {
  color: #ff740f;
}

.banner .banner__text .text__paragraph {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 340px;
}

.banner .banner__text .text__button {
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: #f4f4f4;
  border-radius: 30px;
  border-color: #ff740f;
  font-family: Nunito;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.about img {
  width: 100%;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .about__info .information__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__info .information__block h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

.about .about__info .information__block p {
  font-size: 18px;
  font-weight: 300;
}

.about .about__info .information__block .content__text {
  position: absolute;
  margin: center;
}

.about .about__info .information__block .content__text--whitechars {
  position: absolute;
  color: white;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f7f9;
}

.interaction .interaction__title {
  margin-left: 50px;
}

.interaction .interaction__img {
  margin: 100px;
}

.interaction .interaction__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
}

.interaction .interaction__options .list__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interaction .interaction__options input {
  margin-bottom: 30px;
}

.interaction .interaction__options button {
  font-family: Nunito;
  margin-top: 10px;
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
}

.advertisement {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
  color: white;
}

.advertisement img {
  width: 100%;
  height: 300px;
}

.advertisement .advertisement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-left: 50px;
  width: 60%;
}

.advertisement .advertisement__info .title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.advertisement .advertisement__info .title__text .title__number {
  margin: 0px;
  height: 90px;
  font-size: 120px;
  color: #ff740f;
}

.advertisement .advertisement__info .title__text .title__letter {
  margin: 0px;
  position: absolute;
  top: 60px;
  left: 158px;
}

.advertisement .advertisement__info p {
  width: 320px;
  margin-top: 50px;
  font-weight: 100;
}

.advertisement .advertisement__info button {
  background-color: #ff740f;
  height: 40px;
  width: 100px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
  margin-top: 5px;
  font-family: Nunito;
}

.specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  padding: 50px;
}

.specifications h3 {
  margin: 0px;
}

.specifications p {
  margin: 0px;
}

.specifications .specifications__list {
  line-height: 2;
  margin-left: 120px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-size: 100%;
  height: 735px;
}

.gallery H3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.gallery__current {
  height: 350px;
  margin-bottom: 20px;
}

.gallery__options {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.gallery__small {
  height: 150px;
  width: 200px;
  margin: 40px;
}

.gallery__small:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  background-position-y: -700px;
  height: 280px;
  color: white;
}

.newsletter .newsletter__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.newsletter .newsletter__titles h3 {
  margin: 0px;
  line-height: 1;
  font-size: 40px;
}

.newsletter .newsletter__titles p {
  font-weight: 300;
}

.newsletter .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.newsletter .newsletter__form ::-webkit-input-placeholder {
  color: white;
}

.newsletter .newsletter__form :-ms-input-placeholder {
  color: white;
}

.newsletter .newsletter__form ::-ms-input-placeholder {
  color: white;
}

.newsletter .newsletter__form ::placeholder {
  color: white;
}

.newsletter .newsletter__form .newsletter__input {
  border-radius: 30px;
  height: 35px;
  border-color: white;
  border-style: solid;
  width: 300px;
  background: transparent;
  font-family: Nunito;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  margin-right: 10px;
}

.newsletter .newsletter__form button {
  font-family: Nunito;
  background-color: white;
  height: 40px;
  width: 310px;
  font-size: 17px;
  font-weight: 500;
  color: #df6813;
  border-radius: 30px;
  border-color: white;
  margin-top: 25px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  padding: 30px;
}

.footer p {
  font-weight: 100;
  margin-left: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
  color: white;
  text-align: center;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__logos {
  margin-left: 150px;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container h3 {
    font-size: 42px;
  }
  .container .menu {
    width: 100%;
  }
  .container .menu .menu__logo {
    width: 42px;
    height: 15px;
    position: absolute;
    left: 30px;
  }
  .container .menu p {
    display: none;
  }
  .container .menu .menu__input {
    display: none;
  }
  .container .menu .menu__button-bars {
    display: inline;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
  }
  .container .banner {
    background-size: 300%;
    background-position-x: -250px;
    height: 540px;
  }
  .container .banner .banner__text {
    margin-left: 25%;
  }
  .container .banner .banner__text .text__title {
    font-size: 43px;
    margin-top: 170px;
    width: 250px;
    line-height: 1.1;
  }
  .container .banner .banner__text .text__paragraph {
    font-size: 18px;
    margin-bottom: 25px;
    width: 220px;
  }
  .container .about .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction .interaction__title {
    margin-left: 0px;
    text-align: center;
  }
  .container .interaction .interaction__img {
    width: 350px;
    margin: 0px 0px 25px 0px;
  }
  .container .interaction .interaction__options {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .interaction .interaction__options .list__views {
    margin: 0px;
  }
  .container .interaction .interaction__options button {
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .container .advertisement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .advertisement img {
    height: 100%;
  }
  .container .advertisement .advertisement__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
  }
  .container .advertisement .advertisement__info .title__text .title__number {
    font-size: 90px;
  }
  .container .advertisement .advertisement__info .title__text .title__letter {
    font-size: 35px;
    top: 85px;
    left: 45px;
  }
  .container .advertisement .advertisement__info p {
    margin-top: 30px;
    width: 300px;
    text-align: center;
  }
  .container .advertisement .advertisement__info button {
    margin-bottom: 20px;
  }
  .container .specifications {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .specifications .specifications__titles {
    text-align: center;
  }
  .container .specifications .specifications__list {
    margin-left: 0px;
  }
  .container .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 340px;
    background-position-y: 0px;
  }
  .container .newsletter .newsletter__titles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .container .newsletter .newsletter__titles h3 {
    font-size: 35px;
    text-align: center;
  }
  .container .newsletter .newsletter__titles p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .container .newsletter .newsletter__form button {
    margin-top: 15px;
  }
  .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer p {
    margin: 15px;
    margin-bottom: 40px;
  }
  .container .footer .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .footer .footer__logos {
    margin-left: 0px;
  }
  .container .gallery {
    height: 400px;
    background-size: 180%;
    width: 100%;
  }
  .container .gallery__current {
    display: none;
  }
  .container .gallery__options {
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: scroll;
    width: 300px;
  }
  .container .gallery__small {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .container .gallery__small:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */