@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
.menupp {
  background-color: #111111;
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menupp .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menupp .menu__links a {
  text-decoration: none;
  color: #b1b1b1;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 130px;
}

.menupp .menu__links :hover {
  color: white;
}

.menupp .menu__links a {
  position: relative;
  display: block;
  padding: 5px;
}

.menupp .menu__links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), color-stop(#ffa600), to(#ffc400));
  background: linear-gradient(to right, #ff8800, #ffa600, #ffc400);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menupp .menu__links a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menupp .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 40px;
}

.menupp .btnInOut {
  background: #ff740f;
  height: 25px;
  width: 100px;
  font-size: 15;
  margin-left: 10px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menupp .btnInOut:hover {
  background: #da5b01;
  width: 110px;
}

.menupp .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
}

.menupp .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menupp .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menupp .menu__search .menu__button-bars {
  display: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .products__filterBtn {
  display: none;
}

.products .products__filters-wrapper {
  display: block;
}

.products .products__filters-wrapper .products__filters {
  display: block;
  width: 250px;
  height: 820px;
  margin-right: 50px;
}

.products .products__filters-wrapper .products__filters .filters__closeBtn {
  display: none;
}

.products .products__filters-wrapper .products__filters .lines {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e6e6e6;
  list-style: circle;
  height: 2px;
}

.products .products__filters-wrapper .products__filters .filters__colors {
  display: block;
  margin-bottom: 10px;
}

.products .products__filters-wrapper .products__filters .filters .filters__colors {
  margin-top: 20px;
  margin-bottom: 10px;
}

.products .products__filters-wrapper .products__filters .filters .filters__input {
  display: block;
  margin-top: 10px;
  background-color: #f1f1f1;
  border: 0px;
  height: 30px;
  width: 200px;
  color: #929292;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  width: 110%;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__blanco {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1.5px solid gainsboro;
  background-color: white;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__blanco:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__negro {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #313131;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__negro:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__rosa {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #ff90c7;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__rosa:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__azul {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #7dc5ff;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__azul:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__rojo {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #f85252;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__rojo:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__verde {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #50dd58;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__verde:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__amarillo {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #fff34e;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__amarillo:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__morado {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #c83eff;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__morado:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__naranja {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #ffb158;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__naranja:checked {
  border: 5px solid gainsboro;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__gris {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #838383;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters-wrapper .products__filters .filters .colors__buttons .colors__gris:checked {
  border: 5px solid gainsboro;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 900px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.list .list__unity {
  border: 1px solid #e7e7e7;
  width: 300px;
  height: 450px;
  margin-left: 30px;
  margin-bottom: 15px;
  position: relative;
}

.list .list__unity .deleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
}

.list .list__unity .unity__img {
  width: 100%;
  height: 360px;
}

.list .list__unity a {
  text-decoration: none;
}

.list .list__unity a .unity__title {
  font-weight: 900;
  color: black;
  margin-left: 10px;
  height: 20px;
  width: 290px;
}

.list .list__unity a .unity__title:hover {
  font-size: 16.5px;
}

.list .list__unity .unity__description {
  font-weight: 200;
  color: #a1a1a1;
  margin-left: 10px;
}

.list .list__unity .unity__price {
  margin-top: 12px;
  font-weight: 300;
  font-size: 17px;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container .menupp {
    width: 100%;
  }
  .container .menupp .menu__links {
    display: none;
  }
  .container .menupp .menu__logo {
    width: 42px;
    height: 15px;
    position: absolute;
    left: 30px;
  }
  .container .menupp .menu__search {
    display: none;
  }
  .container .products {
    margin-left: 30px;
    margin-right: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .container .products .products__filterBtn {
    display: block;
    margin: 0px 0px 35px 10px;
    background: white;
    height: 40px;
    width: 330px;
    font-size: 15px;
    font-weight: 500;
    color: #666666;
    border-radius: 30px;
    font-family: Nunito;
    border-style: none;
    -webkit-box-shadow: 0px 4px 7px rgba(59, 59, 59, 0.3);
            box-shadow: 0px 4px 7px rgba(59, 59, 59, 0.3);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .container .products .products__filterBtn:hover {
    background: #f0f0f0;
    width: 340px;
  }
  .container .products .products__filters-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
    z-index: 100;
  }
  .container .products .products__filters-wrapper .products__filters {
    width: 200px;
    background-color: white;
    padding: 30px;
    margin: 0px;
    height: 500px;
  }
  .container .products .products__filters-wrapper .products__filters .filters__title {
    display: none;
  }
  .container .products .products__filters-wrapper .products__filters .lines {
    width: 200px;
    margin-top: 17px;
    margin-bottom: 17px;
  }
  .container .products .products__filters-wrapper .products__filters .filters .filters__colors {
    margin: 0px 0px 15px 0px;
  }
  .container .products .products__filters-wrapper .products__filters .filters .colors__buttons {
    width: 200px;
  }
  .container .products .products__filters-wrapper .products__filters .filters .colors__buttons * {
    margin-left: 5px;
  }
  .container .products .products__filters-wrapper .products__filters .filters__closeBtn {
    display: block;
    margin-top: 30px;
    background: #ff740f;
    height: 40px;
    width: 200px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border-radius: 30px;
    font-family: Nunito;
    border-style: none;
    -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
            box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .container .products .products__filters-wrapper .products__filters .filters__closeBtn:hover {
    background: #da5b01;
    width: 210px;
  }
  .container .products .list {
    margin: 0px;
    width: 350px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .products .list .list__unity {
    width: 150px;
    height: 330px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .container .products .list .list__unity .unity__img {
    width: 100%;
    height: 190px;
  }
  .container .products .list .list__unity a .unity__title {
    width: 100px;
    margin-bottom: 50px;
  }
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.modal__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: white;
  margin: 10% auto;
  width: 500px;
  max-width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  position: relative;
}

.modal__content h1 {
  margin: 0px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal__content .labelForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7e7e7e;
}

.modal__content .labelForm input {
  display: block;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 50px 50px;
  background-color: white;
  width: 350px;
  padding: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 100;
  color: #b8b8b8;
  text-align: start;
}

.modal__content form {
  z-index: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content form * {
  margin-top: 10px;
}

.modal__content .buttonsModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.modal__content .buttonsModal button {
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-bottom: 15px;
}

.modal__content .buttonsModal button:hover {
  background: #da5b01;
  width: 210px;
}

.modal__content .buttonsModal .notengoBtn {
  background: #bdbdbd;
}

.modal__content .buttonsModal .notengoBtn:hover {
  background: #8d8d8d;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

@media screen and (max-width: 650px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
  .modal__content {
    width: 50%;
    padding: 20px 40px;
    border-radius: 5px;
  }
  .modal__content .labelForm input {
    width: 200px;
  }
  .modal__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 50px 100px 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item__img {
  height: 500px;
  margin-right: 30px;
  margin-bottom: 0px;
}

.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__info .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item__info .subtitle .item__name {
  margin: 0px;
  font-weight: 700;
  font-size: 28px;
}

.item__info .subtitle .item__price {
  font-size: 30px;
  font-weight: 400;
  margin-left: 50px;
}

.item__info .item__gender {
  color: #9b9b9b;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
}

.item__info .item__sizes .sizes__title {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #686868;
}

.item__info .item__sizes .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 70px;
  width: 325px;
}

.item__info .item__sizes .radio label {
  margin-right: 10px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid lightgray;
  display: inline-block;
  cursor: pointer;
  color: #b3b3b3;
  position: relative;
  padding: 5px 25px 5px 25px;
  border-radius: 50px 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item__info .item__sizes .radio label:hover {
  background: #ebebeb;
}

.item__info .item__sizes .radio input[type="radio"] {
  display: none;
}

.item__info .item__sizes .radio input[type="radio"]:checked + label:before {
  display: none;
}

.item__info .item__sizes .radio input[type="radio"]:checked + label {
  padding: 5px 20px;
  border: 0px solid lightgray;
  background: rgba(255, 116, 15, 0.8);
  border-radius: 50px 50px;
  color: #fff;
}

.item__info input {
  display: block;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 50px 50px;
  background-color: white;
  color: #b8b8b8;
  width: 80px;
  padding: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 23px;
  font-weight: 100;
  text-align: center;
}

.item__info button {
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-top: 50px;
}

.item__info button:hover {
  background: #da5b01;
  width: 210px;
}

.item__info .item__description {
  margin-top: 50px;
  color: #a8a8a8;
  width: 800px;
  font-weight: 200;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .container .item__img {
    height: 390px;
    margin: 0px;
    margin-top: 120px;
  }
  .container .item__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .item__info .subtitle {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0px;
  }
  .container .item__info .subtitle .item__price {
    margin-left: 0px;
    margin-top: 35px;
    font-size: 25px;
    font-weight: 200;
  }
  .container .item__info .item__gender {
    position: absolute;
    margin-top: 38px;
    top: 0px;
  }
  .container .item__info button {
    margin: 50px 50px 0px 50px;
    height: 40px;
  }
  .container .item__info input {
    margin: 0px;
    height: 33px;
  }
  .container .item__info .item__description {
    margin-top: 50px;
    width: 310px;
    margin-bottom: 50px;
  }
}

.productForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  margin-left: 50px;
}

.productForm h1 {
  margin-left: 0px;
}

.productForm__label {
  display: block;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: black;
  font-size: 18px;
}

.productForm__label input {
  display: block;
  margin-left: 25px;
  background-color: #f1f1f1;
  width: 400px;
  border: 0px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 100;
  color: #8d8d8d;
  text-align: start;
}

.productForm__label .productForm__input {
  display: block;
  margin-top: 10px;
  margin-left: 25px;
  background-color: #f1f1f1;
  border: 0px;
  font-size: 15px;
  font-weight: 100;
  color: #8d8d8d;
  text-align: start;
  height: 30px;
  width: 400px;
}

.productForm__label--checkbox {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  width: 90px;
  color: #8d8d8d;
}

.productForm__input {
  display: block;
}

.productForm__btn {
  margin-top: 20px;
  display: block;
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin: 0px;
  margin-top: 30px;
}

.productForm__btn:hover {
  background: #da5b01;
  width: 210px;
}

.productForm__success {
  color: green;
}

.productForm__error {
  color: red;
}

.productForm__spaces {
  color: red;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none !important;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkout .checkout__summary {
  width: 600px;
  background-color: #e7e7e7;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.checkout .checkout__summary .lines {
  margin-top: 30px;
  background-color: #cfcfcf;
  list-style: circle;
  height: 2px;
  width: 600px;
}

.checkout .checkout__summary p {
  margin: 0px;
  font-size: 20px;
  margin-top: 35px;
}

.checkout .checkout__summary .checkout__total {
  font-size: 25px;
}

.checkout .checkout__summary .checkout__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 130px;
  margin-bottom: 50px;
  margin-top: 10px;
}

.checkout .checkout__summary .checkout__form .checkout__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7c7c7c;
  margin-top: 20px;
}

.checkout .checkout__summary .checkout__form .checkout__label input {
  display: block;
  margin-left: 15px;
  border: 1px solid lightgray;
  border-radius: 50px 50px;
  background-color: white;
  width: 200px;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 100;
  color: #b8b8b8;
  text-align: start;
}

.checkout .checkout__summary .checkout__form .checkoutBtn {
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  margin: 0px;
  margin-top: 30px;
}

.checkout .checkout__summary .checkout__form .checkoutBtn:hover {
  background: #da5b01;
  width: 210px;
}

.checkout .list {
  width: 700px;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout .list .list__unity {
  width: 700px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.checkout .list .list__unity .unity__img {
  height: 190px;
  width: 150px;
}

.checkout .list .list__unity .unity__info {
  margin-left: 25px;
  margin-top: 20px;
}

.checkout .list .list__unity .unity__info .unity__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.checkout .list .list__unity .unity__info .unity__price {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.checkout .list .list__unity .unity__info * {
  margin: 0px;
}

@media screen and (max-width: 650px) {
  .checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout .list {
    width: 400px;
  }
  .checkout .list .list__unity {
    width: 320px;
  }
  .checkout .list .list__unity .unity__info .unity__price {
    position: initial;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
  }
  .checkout .checkout__summary {
    width: 411px;
    height: 550px;
    margin-bottom: 0px;
  }
  .checkout .checkout__summary .lines {
    width: 411px;
  }
  .checkout .checkout__summary .checkout__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0px;
    margin-right: 30px;
  }
}

body {
  margin: 0px;
  font-family: Nunito;
}

body .container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 50px;
}

h2 {
  font-size: 50px;
  font-family: Teko;
  color: 17, 17, 17;
}

h3 {
  font-size: 12px;
}

p {
  font-size: 16px;
  margin: 0px;
}

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menu .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu .menu__links a {
  text-decoration: none;
  color: #b1b1b1;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 130px;
}

.menu .menu__links :hover {
  color: white;
}

.menu .menu__links a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu .menu__links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), color-stop(#ffa600), to(#ffc400));
  background: linear-gradient(to right, #ff8800, #ffa600, #ffc400);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu .menu__links a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 40px;
}

.menu .btnInOut {
  background: #ff740f;
  height: 25px;
  width: 100px;
  font-size: 15;
  margin-left: 10px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menu .btnInOut:hover {
  background: #da5b01;
  width: 110px;
}

.menu .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
}

.menu .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menu .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menu .menu__search .menu__button-bars {
  display: none;
}

.banner {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15%;
  height: auto;
}

.banner .banner__text {
  margin-left: 50%;
  color: #f4f4f4;
}

.banner .banner__text .text__title {
  font-size: 50px;
  font-family: Teko;
  margin-bottom: 0px;
}

.banner .banner__text .text__title .text__corre {
  color: #ff740f;
}

.banner .banner__text .text__paragraph {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 340px;
}

.banner .banner__text .text__button {
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.banner .banner__text .text__button:hover {
  background: #da5b01;
  width: 210px;
}

.hamburger {
  display: none;
}

.menuppal {
  display: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.about img {
  width: 100%;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .about__info .information__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__info .information__block h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 0px;
}

.about .about__info .information__block p {
  font-size: 18px;
  font-weight: 300;
}

.about .about__info .information__block .content__text {
  position: absolute;
  margin: center;
}

.about .about__info .information__block .content__text--whitechars {
  position: absolute;
  color: white;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
}

.interaction .interaction__title {
  margin-left: 50px;
}

.interaction .interaction__title h2 {
  margin-bottom: 0px;
}

.interaction .interaction__img {
  width: 550px;
  height: 500px;
  background-image: url(../images/frente.png);
  background-size: cover;
  margin: 50px;
  background-position-y: -100px;
  background-position-x: -30px;
}

.interaction .interaction__img--front {
  background-image: url(../images/frente.png);
}

.interaction .interaction__img--side {
  background-image: url(../images/horizontal.png);
}

.interaction .interaction__img--down {
  background-image: url(../images/abajo.png);
  background-position-y: -100px;
}

.interaction .interaction__img--back {
  background-image: url(../images/atras.png);
}

.interaction .interaction__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-right: 150px;
  width: 220px;
}

.interaction .interaction__options .list__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.interaction .interaction__options input {
  margin-bottom: 30px;
}

.interaction .interaction__options button {
  background: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.interaction .interaction__options button:hover {
  background: #da5b01;
  width: 210px;
}

.advertisement {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
  color: white;
}

.advertisement img {
  width: 100%;
  height: 300px;
}

.advertisement .advertisement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-left: 50px;
  width: 60%;
}

.advertisement .advertisement__info .title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.advertisement .advertisement__info .title__text .title__number {
  margin: 0px;
  height: 90px;
  font-size: 120px;
  color: #ff740f;
}

.advertisement .advertisement__info .title__text .title__letter {
  margin: 0px;
  position: absolute;
  top: 60px;
  left: 158px;
}

.advertisement .advertisement__info p {
  width: 320px;
  margin-top: 50px;
  font-weight: 100;
}

.advertisement .advertisement__info button {
  margin-top: 15px;
  background: #ff740f;
  height: 40px;
  width: 100px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.advertisement .advertisement__info button:hover {
  background: #da5b01;
  width: 110px;
}

.specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  padding: 50px;
}

.specifications h2 {
  margin: 0px;
}

.specifications p {
  margin: 0px;
}

.specifications .specifications__list {
  line-height: 2;
  margin-left: 120px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-size: 100%;
  height: 735px;
}

.gallery h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.gallery__current {
  height: 350px;
  margin-bottom: 20px;
}

.gallery__options {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.gallery__small {
  height: 150px;
  width: 200px;
  margin: 40px;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.gallery__small:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  background-position-y: -700px;
  height: 280px;
  color: white;
}

.newsletter .newsletter__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.newsletter .newsletter__titles h2 {
  margin: 0px;
  line-height: 1;
  font-size: 40px;
}

.newsletter .newsletter__titles p {
  font-weight: 300;
}

.newsletter .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 220px;
  /*::placeholder {
            color: white;
        }
    
        .newsletter__input {
            border-radius: 30px;
            height: 35px;
            border-color:  rgb(255, 255, 255);
            border-style: solid;
            width: 300px;
            background: transparent;
        
            font-family: Nunito;
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            margin-right: 10px;
        }*/
}

.newsletter .newsletter__form button {
  margin-top: 0px;
  background: white;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: #da5b01;
  border-radius: 30px;
  font-family: Nunito;
  border-style: none;
  -webkit-box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
          box-shadow: 0px 5px 7px rgba(59, 59, 59, 0.4);
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.newsletter .newsletter__form button:hover {
  background: #f0f0f0;
  width: 210px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  padding: 30px;
}

.footer a {
  color: white;
  font-weight: 100;
  margin-top: 5px;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 900;
}

.footer p {
  font-weight: 100;
  margin-left: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
  color: #8a8a8a;
  text-align: center;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 120px;
  margin-left: 150px;
  margin-bottom: 5px;
}

.footer .footer__logos {
  margin-left: 150px;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container h2 {
    font-size: 42px;
  }
  .container .menu {
    width: 100%;
  }
  .container .menu .menu__links {
    display: none;
  }
  .container .menu .menu__logo {
    width: 42px;
    height: 15px;
    position: absolute;
    left: 30px;
  }
  .container .menu .menu__search {
    display: none;
  }
  .container .hamburger {
    display: block;
    position: fixed;
    background-color: transparent;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 23px;
    z-index: 1002;
  }
  .container ._layer {
    background: #ffffff;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  }
  .container .hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .container .hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .container .hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
            transform: translateY(200%) rotate(45deg) !important;
  }
  .container .hamburger.is-active .-mid {
    opacity: 0;
  }
  .container .hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
            transform: translateY(-200%) rotate(135deg) !important;
  }
  .container .menuppal.is_active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  .container .menuppal {
    display: block;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    height: 50%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    position: fixed;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s, -webkit-transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
  }
  .container .menuppal ul {
    margin: 0px 0px 0px 0px;
    padding: 0;
  }
  .container .menuppal ul li {
    list-style: none;
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    margin-top: 40px;
    color: #e0e0e0;
  }
  .container .menuppal ul li a {
    text-decoration: none;
    color: #e0e0e0;
  }
  .container .menuppal ul li a:hover {
    text-decoration: none;
    font-weight: 900;
  }
  .container .banner {
    background-size: 300%;
    background-position-x: -250px;
    height: 540px;
  }
  .container .banner .banner__text {
    margin-left: 25%;
  }
  .container .banner .banner__text .text__title {
    font-size: 43px;
    margin-top: 170px;
    width: 250px;
    line-height: 1.1;
  }
  .container .banner .banner__text .text__paragraph {
    font-size: 18px;
    margin-bottom: 25px;
    width: 220px;
  }
  .container .about .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction .interaction__title {
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .container .interaction .interaction__img {
    width: 300px;
    height: 190px;
    margin: 30px 0px 30px 0px;
    background-position-x: 0px;
  }
  .container .interaction .interaction__img--down {
    width: 215px;
    background-position-y: -40px;
  }
  .container .interaction .interaction__options {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px;
  }
  .container .interaction .interaction__options .list__views {
    margin: 0px;
  }
  .container .interaction .interaction__options button {
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .container .advertisement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .advertisement img {
    height: 100%;
  }
  .container .advertisement .advertisement__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
  }
  .container .advertisement .advertisement__info .title__text .title__number {
    font-size: 90px;
  }
  .container .advertisement .advertisement__info .title__text .title__letter {
    font-size: 35px;
    top: 85px;
    left: 45px;
  }
  .container .advertisement .advertisement__info p {
    margin-top: 30px;
    width: 300px;
    text-align: center;
  }
  .container .advertisement .advertisement__info button {
    margin-bottom: 20px;
  }
  .container .specifications {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .specifications .specifications__titles {
    text-align: center;
  }
  .container .specifications .specifications__list {
    margin-left: 0px;
  }
  .container .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 340px;
    background-position-y: 0px;
  }
  .container .newsletter .newsletter__titles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .container .newsletter .newsletter__titles h2 {
    font-size: 35px;
    text-align: center;
  }
  .container .newsletter .newsletter__titles p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .container .newsletter .newsletter__form button {
    margin-top: 15px;
  }
  .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer a {
    margin: 15px;
  }
  .container .footer p {
    margin: 15px;
    margin-bottom: 40px;
    color: #8a8a8a;
  }
  .container .footer .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
    width: 400px;
    margin-bottom: 15px;
  }
  .container .footer .footer__logos {
    margin-left: 0px;
  }
  .container .gallery {
    height: 400px;
    background-size: 180%;
    width: 100%;
  }
  .container .gallery__current {
    display: none;
  }
  .container .gallery__options {
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: scroll;
    width: 300px;
  }
  .container .gallery__small {
    height: 250px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .container .gallery__small:hover {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */