@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
@import url("https://use.typekit.net/sop3ack.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
.menupp {
  background-color: #111111;
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menupp .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menupp .menu__links a {
  text-decoration: none;
  color: #b1b1b1;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 130px;
}

.menupp .menu__links :hover {
  color: white;
}

.menupp .menu__links a {
  position: relative;
  display: block;
  padding: 5px;
}

.menupp .menu__links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), color-stop(#ffa600), to(#ffc400));
  background: linear-gradient(to right, #ff8800, #ffa600, #ffc400);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menupp .menu__links a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menupp .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 40px;
}

.menupp .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
}

.menupp .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menupp .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menupp .menu__search .menu__button-bars {
  display: none;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .products__filters {
  width: 250px;
  height: 820px;
  margin-right: 50px;
}

.products .products__filters .lines {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e6e6e6;
  list-style: circle;
  height: 2px;
  width: 290px;
}

.products .products__filters .filters__colors {
  display: block;
  margin-bottom: 10px;
}

.products .products__filters .filters .filters__colors {
  margin-top: 20px;
  margin-bottom: 10px;
}

.products .products__filters .filters .filters__input {
  display: block;
  margin-top: 10px;
  background-color: #f1f1f1;
  border: 0px;
  height: 30px;
  width: 200px;
  color: #929292;
}

.products .products__filters .filters .colors__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  width: 110%;
}

.products .products__filters .filters .colors__buttons .colors__blanco {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1.5px solid gainsboro;
  background-color: white;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__blanco:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__negro {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #313131;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__negro:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__rosa {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #ff90c7;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__rosa:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__azul {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #7dc5ff;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__azul:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__rojo {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #f85252;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__rojo:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__verde {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #50dd58;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__verde:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__amarillo {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #fff34e;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__amarillo:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__morado {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #c83eff;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__morado:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__naranja {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #ffb158;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__naranja:checked {
  border: 5px solid gainsboro;
}

.products .products__filters .filters .colors__buttons .colors__gris {
  margin-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0px solid gainsboro;
  background-color: #838383;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-right: 5px;
}

.products .products__filters .filters .colors__buttons .colors__gris:checked {
  border: 5px solid gainsboro;
}

.products .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 900px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.products .list .list__item {
  border: 1px solid #e7e7e7;
  width: 300px;
  height: 450px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.products .list .list__item .item__img {
  width: 100%;
  height: 360px;
}

.products .list .list__item a {
  text-decoration: none;
}

.products .list .list__item a .item__title {
  font-weight: 900;
  color: black;
  margin-left: 10px;
  height: 20px;
  width: 290px;
}

.products .list .list__item a .item__title:hover {
  font-size: 16.5px;
}

.products .list .list__item .item__description {
  font-weight: 200;
  color: #a1a1a1;
  margin-left: 10px;
}

.products .list .list__item .item__price {
  margin-top: 12px;
  font-weight: 300;
  font-size: 17px;
  margin-left: 10px;
}

.productForm__label {
  display: block;
  margin-top: 30px;
}

.productForm__label--checkbox {
  margin-top: 15px;
}

.productForm__input {
  display: block;
}

.productForm__btn {
  margin-top: 20px;
  display: block;
}

.productForm__success {
  color: green;
}

.productForm__error {
  color: red;
}

.productForm__spaces {
  color: red;
}

.productForm__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hidden {
  display: none !important;
}

body {
  margin: 0px;
  font-family: Nunito;
}

body .container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  margin-left: 50px;
}

h2 {
  font-size: 50px;
  font-family: Teko;
  color: 17, 17, 17;
}

h3 {
  font-size: 12px;
}

p {
  font-size: 16px;
  margin: 0px;
}

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.menu .menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu .menu__links a {
  text-decoration: none;
  color: #b1b1b1;
  font-weight: 300;
  margin-left: 0px;
  margin-right: 130px;
}

.menu .menu__links :hover {
  color: white;
}

.menu .menu__links a {
  position: relative;
  display: block;
  padding: 5px;
}

.menu .menu__links a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#ff8800), color-stop(#ffa600), to(#ffc400));
  background: linear-gradient(to right, #ff8800, #ffa600, #ffc400);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.menu .menu__links a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu .menu__logo {
  width: 55px;
  height: 20px;
  position: absolute;
  left: 40px;
}

.menu .menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
}

.menu .menu__search .menu__input {
  border-radius: 30px;
  color: #f4f4f4;
  border-style: none;
  height: 23px;
  width: 250px;
  font-size: 13px;
  font-weight: 300;
}

.menu .menu__search .menu__button {
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

.menu .menu__search .menu__button-bars {
  display: none;
}

.banner {
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15%;
  height: auto;
}

.banner .banner__text {
  margin-left: 50%;
  color: #f4f4f4;
}

.banner .banner__text .text__title {
  font-size: 50px;
  font-family: Teko;
  margin-bottom: 0px;
}

.banner .banner__text .text__title .text__corre {
  color: #ff740f;
}

.banner .banner__text .text__paragraph {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 340px;
}

.banner .banner__text .text__button {
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: #f4f4f4;
  border-radius: 30px;
  border-color: #ff740f;
  font-family: Nunito;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
}

.about img {
  width: 100%;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .about__info .information__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about__info .information__block h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-left: 0px;
}

.about .about__info .information__block p {
  font-size: 18px;
  font-weight: 300;
}

.about .about__info .information__block .content__text {
  position: absolute;
  margin: center;
}

.about .about__info .information__block .content__text--whitechars {
  position: absolute;
  color: white;
}

.interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
}

.interaction .interaction__title {
  margin-left: 50px;
}

.interaction .interaction__title h2 {
  margin-bottom: 0px;
}

.interaction .interaction__img {
  width: 550px;
  height: 500px;
  background-image: url(../images/frente.png);
  background-size: cover;
  margin: 50px;
  background-position-y: -100px;
  background-position-x: -30px;
}

.interaction .interaction__img--front {
  background-image: url(../images/frente.png);
}

.interaction .interaction__img--side {
  background-image: url(../images/horizontal.png);
}

.interaction .interaction__img--down {
  background-image: url(../images/abajo.png);
  background-position-y: -100px;
}

.interaction .interaction__img--back {
  background-image: url(../images/atras.png);
}

.interaction .interaction__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-right: 150px;
}

.interaction .interaction__options .list__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.interaction .interaction__options input {
  margin-bottom: 30px;
}

.interaction .interaction__options button {
  font-family: Nunito;
  margin-top: 10px;
  background-color: #ff740f;
  height: 40px;
  width: 200px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
}

.advertisement {
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px;
  color: white;
}

.advertisement img {
  width: 100%;
  height: 300px;
}

.advertisement .advertisement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-left: 50px;
  width: 60%;
}

.advertisement .advertisement__info .title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.advertisement .advertisement__info .title__text .title__number {
  margin: 0px;
  height: 90px;
  font-size: 120px;
  color: #ff740f;
}

.advertisement .advertisement__info .title__text .title__letter {
  margin: 0px;
  position: absolute;
  top: 60px;
  left: 158px;
}

.advertisement .advertisement__info p {
  width: 320px;
  margin-top: 50px;
  font-weight: 100;
}

.advertisement .advertisement__info button {
  background-color: #ff740f;
  height: 40px;
  width: 100px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  border-color: #ff740f;
  margin-top: 5px;
  font-family: Nunito;
}

.specifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  padding: 50px;
}

.specifications h2 {
  margin: 0px;
}

.specifications p {
  margin: 0px;
}

.specifications .specifications__list {
  line-height: 2;
  margin-left: 120px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-size: 100%;
  height: 735px;
}

.gallery h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.gallery__current {
  height: 350px;
  margin-bottom: 20px;
}

.gallery__options {
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.gallery__small {
  height: 150px;
  width: 200px;
  margin: 40px;
}

.gallery__small:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100%;
  background-position-y: -700px;
  height: 280px;
  color: white;
}

.newsletter .newsletter__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}

.newsletter .newsletter__titles h2 {
  margin: 0px;
  line-height: 1;
  font-size: 40px;
}

.newsletter .newsletter__titles p {
  font-weight: 300;
}

.newsletter .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /*::placeholder {
            color: white;
        }
    
        .newsletter__input {
            border-radius: 30px;
            height: 35px;
            border-color:  rgb(255, 255, 255);
            border-style: solid;
            width: 300px;
            background: transparent;
        
            font-family: Nunito;
            text-align: center;
            font-size: 16px;
            font-weight: 100;
            margin-right: 10px;
        }*/
}

.newsletter .newsletter__form button {
  font-family: Nunito;
  background-color: white;
  height: 40px;
  width: 310px;
  font-size: 17px;
  font-weight: 500;
  color: #df6813;
  border-radius: 30px;
  border-color: white;
  margin-top: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  padding: 30px;
}

.footer a {
  color: white;
  font-weight: 100;
  margin-top: 5px;
  text-decoration: none;
}

.footer a:hover {
  font-weight: 900;
}

.footer p {
  font-weight: 100;
  margin-left: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2;
  color: white;
  text-align: center;
}

.footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 120px;
  margin-left: 150px;
  margin-bottom: 5px;
}

.footer .footer__logos {
  margin-left: 150px;
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
  }
  .container h2 {
    font-size: 42px;
  }
  .container .menu {
    width: 100%;
  }
  .container .menu .menu__links {
    display: none;
  }
  .container .menu .menu__logo {
    width: 42px;
    height: 15px;
    position: absolute;
    left: 30px;
  }
  .container .menu .menu__input {
    display: none;
  }
  .container .menu .menu__button-bars {
    display: inline;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);
  }
  .container .banner {
    background-size: 300%;
    background-position-x: -250px;
    height: 540px;
  }
  .container .banner .banner__text {
    margin-left: 25%;
  }
  .container .banner .banner__text .text__title {
    font-size: 43px;
    margin-top: 170px;
    width: 250px;
    line-height: 1.1;
  }
  .container .banner .banner__text .text__paragraph {
    font-size: 18px;
    margin-bottom: 25px;
    width: 220px;
  }
  .container .about .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .interaction .interaction__title {
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .container .interaction .interaction__img {
    width: 300px;
    height: 190px;
    margin: 30px 0px 30px 0px;
  }
  .container .interaction .interaction__options {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px;
  }
  .container .interaction .interaction__options .list__views {
    margin: 0px;
  }
  .container .interaction .interaction__options button {
    margin-bottom: 40px;
    margin-top: 5px;
  }
  .container .advertisement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .advertisement img {
    height: 100%;
  }
  .container .advertisement .advertisement__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
  }
  .container .advertisement .advertisement__info .title__text .title__number {
    font-size: 90px;
  }
  .container .advertisement .advertisement__info .title__text .title__letter {
    font-size: 35px;
    top: 85px;
    left: 45px;
  }
  .container .advertisement .advertisement__info p {
    margin-top: 30px;
    width: 300px;
    text-align: center;
  }
  .container .advertisement .advertisement__info button {
    margin-bottom: 20px;
  }
  .container .specifications {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .specifications .specifications__titles {
    text-align: center;
  }
  .container .specifications .specifications__list {
    margin-left: 0px;
  }
  .container .newsletter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 340px;
    background-position-y: 0px;
  }
  .container .newsletter .newsletter__titles {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .container .newsletter .newsletter__titles h2 {
    font-size: 35px;
    text-align: center;
  }
  .container .newsletter .newsletter__titles p {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .container .newsletter .newsletter__form button {
    margin-top: 15px;
  }
  .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer p {
    margin: 15px;
    margin-bottom: 40px;
  }
  .container .footer .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .footer .footer__logos {
    margin-left: 0px;
  }
  .container .gallery {
    height: 400px;
    background-size: 180%;
    width: 100%;
  }
  .container .gallery__current {
    display: none;
  }
  .container .gallery__options {
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: scroll;
    width: 300px;
  }
  .container .gallery__small {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 250px;
    width: 300px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=index.css.map */